<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <servlet>
        <servlet-name>createAirlineServlet</servlet-name>
        <servlet-class>XPassengersWeb.createAirlineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createAirlineServlet</servlet-name>
        <url-pattern>/createAirlineServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>XPassengersWeb.ActivateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/ActivateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createPilotServlet</servlet-name>
        <servlet-class>XPassengersWeb.createPilotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createPilotServlet</servlet-name>
        <url-pattern>/createPilotServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuyAircraftServlet</servlet-name>
        <servlet-class>XPassengersWeb.BuyAircraftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyAircraftServlet</servlet-name>
        <url-pattern>/BuyAircraftServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditAircraftServlet</servlet-name>
        <servlet-class>XPassengersWeb.EditAircraftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAircraftServlet</servlet-name>
        <url-pattern>/EditAircraftServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SellAircraftServlet</servlet-name>
        <servlet-class>XPassengersWeb.SellAircraftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SellAircraftServlet</servlet-name>
        <url-pattern>/SellAircraftServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveOptionsServlet</servlet-name>
        <servlet-class>XPassengersWeb.SaveOptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveOptionsServlet</servlet-name>
        <url-pattern>/SaveOptionsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckNewPlanes</servlet-name>
        <servlet-class>XPassengersWeb.CheckNewPlanes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckNewPlanes</servlet-name>
        <url-pattern>/CheckNewPlanes</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>